.component-heading{
    margin-bottom: 60px;
    font-weight: 600;
    font-size:48px;
}

.content-header {
    margin-bottom: 60px;
    font-weight: 600;
    font-size:48px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }

.row {
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
}

.column {
    float: left;
    padding: 0 15px;
}

.span_4 {
    width: 33.3333%;
}

.contribution {
    margin-top: 100px;
}

.subheading {
    font-weight: 600;
    color: gray;
}

.procard {
    margin: auto;
    max-width: 1000px;
}

.img-fluid {
    width: 1000px;
}

.index-content {
    margin-left: 5rem;
}

.patron {
    display: inline;
    width: 300px;
    margin: 10px;
}

.actcards {
    margin-left: 2rem;
}


